@model PagedResult<CourseVM>

<a asp-action="Create" class="btn btn-success mb-3">Create A Course</a>
@* <form method="get" class="mb-1">
    <div class="input-group" style="width:400px">
        <input type="text" name="searchName" value="@ViewBag.SearchName" placeholder="Search by Name" class="form-control" />
        <button type="submit">Search</button>
    </div>
</form> *@

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Discription</th>
            <th>Category</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Is Active</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model.Items)
        {
            <tr>
                <th>@course.Name</th>
                <th>@course.Description</th>
                <th>@course.Category</th>
                <th>@course.StartDate</th>
                <th>@course.EndDate</th>
                <th>@course.IsActive</th>
                <th>
                    <a asp-action="GetById" asp-route-id="@course.Id" class="btn btn-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@course.Id" class="btn btn-primary">Update</a>
                    <a asp-action="Delete" asp-route-id="@course.Id" class="btn btn-danger">Delete</a>
                    @* <form asp-action="Delete" method="post" asp-route-id="@course.Id"> *@
                    @*     <button type="submit" onclick="return confirm('Are you sure ?')">Delete</button> *@
                    @* </form> *@
                </th>
            </tr>
        }
    </tbody>
</table>

<div>Page @Model.Page of @Model.TotalPages</div>
@if (Model.TotalPages > 1)
{
    <nav>
        <ul class="pagination">

            <li class="page-item me-2 @(Model.HasPrevious ? "" : "disabled")">
                <a class="page-link" asp-action="Index" asp-route-page="@(Model.Page - 1)" asp-route-searchName="@ViewBag.SearchName">Previous</a>
            </li>

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="mx-1 page-item">
                    <a class="page-link @(i == Model.Page ? "active" : "")" asp-action="Index" asp-route-page="@i" asp-route-searchName="@ViewBag.SearchName">@i</a>
                </li>
            }

            <li class="page-item ms-2 @(Model.HasNext ? "" : "disabled")">
                <a class="page-link" asp-action="Index" asp-route-page="@(Model.Page + 1)" asp-route-searchName="@ViewBag.SearchName">Next</a>
            </li>

        </ul>
    </nav>
}